@font-face {
  font-family: 'ubunturegular';
  src: url("../font/Ubuntu-Regular.ttf"); }

@font-face {
  font-family: 'ubuntubold';
  src: url("../font/Ubuntu-Bold.ttf"); }

@font-face {
  font-family: 'ubuntulight';
  src: url("../font/Ubuntu-Light.ttf"); }

@font-face {
  font-family: 'ubuntuMedium';
  src: url("../font/Ubuntu-Medium.ttf"); }

@font-face {
  font-family: 'ubuntuitalic';
  src: url("../font/Ubuntu-Italic.ttf"); }

body {
  background-color: #fffef9; }

.body-container {
  background-color: #fffef9; }

.header-container {
  z-index: 500000;
  height: 90px;
  width: 100%;
  background-color: #fffef9;
  position: fixed;
  z-index: 100;
  justify-content: space-between;
  display: flex; }
  .header-container-menu {
    display: none; }
    @media (min-width: 1024px) {
      .header-container-menu {
        display: block;
        width: 100%;
        color: #895dda;
        font-family: 'ubuntuMedium';
        margin-left: 38%; } }
    .header-container-menu-text {
      display: flex;
      width: 100%;
      margin-top: 27px;
      font-size: 14px;
      letter-spacing: -1.5px;
      color: black;
      width: 70%; }
      .header-container-menu-text-link {
        overflow: hidden; }
      .header-container-menu-text-link {
        transition: color 0.3s ease-out; }
        .header-container-menu-text-link::after {
          width: 100%;
          height: 100%;
          display: block;
          background-color: #895dda;
          content: " ";
          position: absolute;
          top: 0;
          transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
          transform: translateY(34px);
          z-index: -1; }
        .header-container-menu-text-link:hover {
          color: #fffef9; }
          .header-container-menu-text-link:hover::after {
            transform: translateY(0px); }
  .header-container-logo {
    width: 100%;
    margin-top: 50px;
    font-size: 18px;
    text-align: center;
    font-family: 'ubuntulight'; }
    @media (min-width: 768px) {
      .header-container-logo {
        font-size: 20px; } }
    @media (min-width: 1024px) {
      .header-container-logo {
        font-size: 24px; } }
    .header-container-logo-regular {
      font-family: 'ubunturegular'; }
    .header-container-logo-vrai {
      width: 45px;
      height: 45px; }
  .header-container-burger {
    width: 45px;
    height: 45px;
    margin: 22.5px auto;
    background-color: red; }
    @media (min-width: 768px) {
      .header-container-burger {
        background-color: black; } }
    @media (min-width: 1024px) {
      .header-container-burger {
        background-color: pink;
        display: none; } }
    .header-container-burger-modal {
      display: none;
      position: fixed;
      z-index: 10000;
      width: 80%;
      height: 100%; }
      .header-container-burger-modal-overlay {
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4); }
      .header-container-burger-modal-content {
        height: 50vh;
        margin: 0 auto;
        font-family: 'ubuntuMedium';
        text-align: center;
        background: #fffef9; }
        .header-container-burger-modal-content-link {
          margin-top: 30px;
          margin-bottom: 10px; }
    .header-container-burger-button {
      width: 45px;
      height: 45px; }

.body-container {
  width: 100%;
  display: flex;
  height: 100vh; }
  .body-container-left {
    width: 100%;
    overflow: hidden;
    margin-top: 90px; }
    @media (min-width: 1024px) {
      .body-container-left {
        width: 100%; } }
    .body-container-left-defile {
      position: fixed;
      margin-top: 125px;
      display: block;
      font-family: "ubuntubold";
      font-size: calc(100vw / 5);
      opacity: 0.05;
      text-align: center;
      letter-spacing: -2px;
      width: 100vw;
      z-index: 0; }
      .body-container-left-defile-child {
        z-index: 1;
        display: flex;
        -webkit-animation: linear marqueelike 5s infinite;
        -moz-animation: linear marqueelike 5s infinite;
        -o-animation: linear marqueelike 5s infinite;
        -ms-animation: linear marqueelike 5s infinite;
        animation: linear marqueelike 5s infinite;
        margin-left: -100%;
        padding: 0 5px;
        text-align: left; }
        @media (min-width: 1024px) {
          .body-container-left-defile-child {
            -webkit-animation: linear marqueelike 8s infinite;
            -moz-animation: linear marqueelike 8s infinite;
            -o-animation: linear marqueelike 8s infinite;
            -ms-animation: linear marqueelike 8s infinite;
            animation: linear marqueelike 8s infinite; } }
    .body-container-left-text {
      position: absolute;
      left: 50%;
      top: 60%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      margin: 0; }
      .body-container-left-text figure {
        width: 200px;
        height: 60px;
        cursor: pointer;
        perspective: 500px;
        -webkit-perspective: 500px; }
      .body-container-left-text figure div {
        height: 100%;
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        transition: 0.25s;
        -webkit-transition: 0.25s; }
      .body-container-left-text figure:hover div {
        transform: rotateX(-90deg); }
      .body-container-left-text span {
        width: 100%;
        height: 100%;
        position: absolute;
        box-sizing: border-box;
        border: 5px solid #895dda;
        font-family: "ubunturegular";
        line-height: 50px;
        background-color: #fffef9;
        font-size: 17pt;
        text-align: center;
        text-transform: uppercase; }
      .body-container-left-text span:nth-child(1) {
        color: #895dda;
        transform: translate3d(0, 0, 30px);
        -webkit-transform: translate3d(0, 0, 30px); }
      .body-container-left-text span:nth-child(2) {
        color: #fffef9;
        background: #895dda;
        transform: rotateX(90deg) translate3d(0, 0, 30px);
        -webkit-transform: rotateX(90deg) translate3d(0, 0, 30px); }

.a {
  width: 100px;
  height: 34px;
  line-height: 36px;
  text-decoration: none;
  color: #895dda;
  text-align: center;
  font-size: 15px;
  position: relative; }

.is-active {
  background-color: #895dda;
  color: #fffef9; }

@-webkit-keyframes marqueelike {
  0%,
  100% {
    margin-left: 0; }
  99.99% {
    margin-left: -100%; } }

@-moz-keyframes marqueelike {
  0%,
  100% {
    margin-left: 0; }
  99.99% {
    margin-left: -100%; } }

@-o-keyframes marqueelike {
  0%,
  100% {
    margin-left: 0; }
  99.99% {
    margin-left: -100%; } }

@-ms-keyframes marqueelike {
  0%,
  100% {
    margin-left: 0; }
  99.99% {
    margin-left: -100%; } }

@keyframes marqueelike {
  0%,
  100% {
    margin-left: 0; }
  99.99% {
    margin-left: -100%; } }

.about-container {
  width: 100%;
  height: 100vh;
  background-color: #fffef9; }
  .about-container-up {
    width: 100%;
    overflow: hidden; }
    @media (min-width: 1024px) {
      .about-container-up {
        width: 100%;
        z-index: 1; } }
    .about-container-up-title {
      text-align: center;
      font-family: 'ubuntubold';
      color: #895dda;
      width: 100%;
      bottom: 0;
      top: 270px;
      font-size: 48px;
      z-index: 3000;
      position: absolute;
      text-shadow: 0 5px 2px rgba(150, 150, 150, 0.17); }
      @media (min-width: 1024px) {
        .about-container-up-title {
          font-size: 60px;
          z-index: 3000;
          top: 450px; } }
  .about-container-content {
    position: absolute;
    height: 880px;
    box-shadow: 0 -7px 45px 0 rgba(0, 0, 0, 0.09);
    background-color: #fffef9;
    width: 100%;
    margin-top: 300px;
    opacity: 1;
    z-index: 1000; }
    @media (min-width: 1024px) {
      .about-container-content {
        margin-top: 500px;
        z-index: 3;
        height: 1040px; } }
    .about-container-content-presentation {
      margin: 0 auto;
      line-height: 120%;
      width: 60%;
      padding-top: 70px; }
      @media (min-width: 1024px) {
        .about-container-content-presentation {
          width: 50%;
          padding-top: 100px; } }
      .about-container-content-presentation-first {
        font-size: 24px;
        line-height: 140%;
        font-family: 'ubuntulight'; }
        @media (min-width: 1024px) {
          .about-container-content-presentation-first {
            font-size: 30px;
            line-height: 140%; } }
        .about-container-content-presentation-first-underline {
          cursor: pointer;
          text-decoration: underline black;
          transition: all 0.1s ease-out; }
          .about-container-content-presentation-first-underline:hover {
            text-decoration: underline #895dda; }
        .about-container-content-presentation-first-italic {
          font-family: 'ubuntuitalic'; }
        .about-container-content-presentation-first-italic2 {
          font-family: 'ubuntuitalic';
          font-size: 18px; }
          @media (min-width: 1024px) {
            .about-container-content-presentation-first-italic2 {
              font-size: 20px; } }
      .about-container-content-presentation-second {
        padding-top: 30px;
        font-size: 24px;
        line-height: 130%;
        font-family: 'ubuntulight'; }
        @media (min-width: 1024px) {
          .about-container-content-presentation-second {
            font-size: 30px; } }
        .about-container-content-presentation-second-hetic {
          font-family: 'ubunturegular'; }
        .about-container-content-presentation-second-profile {
          width: 70%;
          margin-left: 15%;
          height: auto;
          padding-top: 20px; }
          @media (min-width: 1024px) {
            .about-container-content-presentation-second-profile {
              padding-top: 40px;
              margin-left: 15%; } }

.about-container-content2 {
  height: 900px;
  position: absolute;
  box-shadow: 0 -7px 45px 0 rgba(0, 0, 0, 0.11);
  background-color: #fffef9;
  width: 100%;
  margin: 100px auto 0;
  z-index: 10;
  margin-top: 300px; }
  @media (min-width: 1024px) {
    .about-container-content2 {
      height: 1400px;
      margin-top: 500px; } }
  .about-container-content2-presentation {
    margin: 0 auto;
    width: 65%;
    padding-top: 70px; }
    @media (min-width: 1024px) {
      .about-container-content2-presentation {
        width: 50%;
        padding-top: 200px; } }
    .about-container-content2-presentation-title {
      font-family: 'ubunturegular';
      font-size: 30px;
      text-align: center;
      margin-top: 30px; }
      @media (min-width: 1024px) {
        .about-container-content2-presentation-title {
          font-size: 36px; } }
    .about-container-content2-presentation-works {
      line-height: 120%;
      font-family: 'ubuntulight';
      font-size: 24px; }
      @media (min-width: 1024px) {
        .about-container-content2-presentation-works {
          font-size: 30px; } }
    .about-container-content2-presentation-projects {
      width: 100%;
      margin-top: 50px;
      flex-wrap: wrap;
      display: flex; }
      .about-container-content2-presentation-projects-link {
        background-color: #895dda;
        width: 100%;
        height: auto;
        margin-top: 10px; }
        @media (min-width: 1024px) {
          .about-container-content2-presentation-projects-link {
            width: 50%; } }
      .about-container-content2-presentation-projects-img {
        width: 100%;
        height: auto;
        box-shadow: 0 10px 33px 0 rgba(0, 0, 0, 0.53);
        transition: all 0.2s ease-out; }
        .about-container-content2-presentation-projects-img:hover {
          opacity: 0.8;
          transform: scale(0.9); }

.tabs {
  width: 100%;
  margin: auto;
  border: 1px solid #000; }

.tabs-nav {
  font-family: 'ubuntulight';
  display: flex;
  width: 100%;
  margin: 100px auto;
  font-size: 20px; }
  @media (min-width: 1024px) {
    .tabs-nav {
      width: 80%;
      font-size: 24px; } }

.tabs-nav a {
  color: #000;
  text-decoration: none;
  text-align: center;
  width: 100%;
  letter-spacing: -1.5px;
  overflow: hidden;
  align-items: center;
  height: 60px;
  font-size: 24px;
  line-height: 40px;
  border: 1px #895dda solid; }

.tabs-nav a:hover {
  color: white;
  transition: all 0.2s ease-out;
  background-color: #895dda; }

.tabs-nav a.is-active {
  color: white;
  font-family: 'ubunturegular';
  background: #895dda; }

.tabs-content {
  display: none; }

.tabs-content.is-active {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap; }

.about-container-content-presentation-contact {
  display: block;
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
  font-family: 'ubunturegular'; }
  @media (min-width: 1024px) {
    .about-container-content-presentation-contact {
      width: 60%; } }
  .about-container-content-presentation-contact-first {
    margin-top: 20px;
    font-size: 20px;
    font-family: 'ubuntulight'; }
    @media (min-width: 1024px) {
      .about-container-content-presentation-contact-first {
        font-size: 28px; } }
    .about-container-content-presentation-contact-first-info {
      font-family: 'ubunturegular';
      font-size: 24px; }
      @media (min-width: 1024px) {
        .about-container-content-presentation-contact-first-info {
          font-size: 30px; } }

.about-container-content-contact {
  position: absolute;
  height: 360px;
  box-shadow: 0 -7px 45px 0 rgba(0, 0, 0, 0.11);
  background-color: #fffef9;
  width: 100%;
  margin-top: 300px;
  z-index: 1000; }
  @media (min-width: 1024px) {
    .about-container-content-contact {
      margin-top: 500px; } }
