@font-face {
  font-family: 'ubunturegular';
  src: url("../font/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: 'ubuntubold';
  src: url("../font/Ubuntu-Bold.ttf");
}
@font-face {
  font-family: 'ubuntulight';
  src: url("../font/Ubuntu-Light.ttf");
}
@font-face {
  font-family: 'ubuntuMedium';
  src: url("../font/Ubuntu-Medium.ttf");
}
@font-face {
  font-family: 'ubuntuitalic';
  src: url("../font/Ubuntu-Italic.ttf");
}
$color: rgb(random(150) ,random(150) ,random(150));
$background_color: #fffef9;
$tablet-width: 768px;
$desktop-width: 1024px;
$text_content_title: #fb8d72;
@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

body {
  background-color: $background_color;
}

.body-container {
  background-color: $background_color;
}

.header-container {
  z-index: 500000;
  height: 90px;
  width: 100%;
  background-color: $background_color;
  position: fixed;
  justify-content: space-between;
  display: flex;
  @include tablet {}
  @include desktop {}

  &-burger {}

  &-menu {
    display: none;
    @include desktop {
      display: flex;
      justify-content: center;
      width: 100%;
      color: #895dda;
      font-family: 'ubuntubold';

    }

    &-text {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 27px;
      font-size: 14px;
      letter-spacing: -1px;
      color: black;
      width: 70%;
      @include desktop {}

      &-link {
        overflow: hidden;
      }

      &-link {
        transition: color 0.3s ease-out;

        &::after {
          width: 100%;
          height: 100%;
          display: block;
          background-color: #895dda;
          content: " ";
          position: absolute;
          top: 0;
          transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
          transform: translateY(34px);
          z-index: -1;
        }

        &:hover {
          color: $background_color;

          &::after {
            transform: translateY(0px);
          }
        }
      }
    }
  }

  &-logo {
    width: 100%;
    margin-top: 50px;
    font-size: 18px;
    text-align: center;
    font-family: 'ubuntulight';
    @include tablet {
      font-size: 20px;
    }
    @include desktop {
      font-size: 24px;
    }

    &-regular {
      font-family: 'ubunturegular';
    }

    &-vrai {
      width: 45px;
      height: 45px;
    }
  }

  &-burger {
    width: 40px;
    height: 40px;
    margin: 22.5px auto;
    border: 5px solid #895dda;
    @include tablet {

    }
    @include desktop {
      display: none;
    }

    &-modal {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &-overlay {
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
      }

      &-content {
        width: 300px;
        position: relative;
        height: 50vh;
        margin: 100px auto;
        z-index: 100000000;
        font-family: 'ubuntuMedium';
        text-align: center;
        background: $background_color;

        &-link {
          margin-top: 30px;
          margin-bottom: 10px;
        }
      }
    }

    &-button {
      width: 45px;
      height: 45px;
    }
  }
}

.body-container {
  width: 100%;
  display: flex;
  height: 100vh;
  // partie gauche avec le texte//
  &-left {
    width: 100%;
    overflow: hidden;
    margin-top: 90px;
    @include desktop {
      width: 100%;
    }

    &-defile {
      position: fixed;
      margin-top: 125px;
      display: block;
      font-family: "ubuntubold";
      font-size: calc(100vw / 5);
      opacity: 0.05;
      text-align: center;
      letter-spacing: -2px;
      width: 100vw;
      z-index: 0;
      @include desktop {}

      &-child {
        z-index: 1;
        display: flex;
        -webkit-animation: linear marqueelike 5s infinite;
        -moz-animation: linear marqueelike 5s infinite;
        -o-animation: linear marqueelike 5s infinite;
        -ms-animation: linear marqueelike 5s infinite;
        animation: linear marqueelike 5s infinite;
        margin-left: -100%;
        padding: 0 5px;
        text-align: left;
        @include desktop {
          -webkit-animation: linear marqueelike 8s infinite;
          -moz-animation: linear marqueelike 8s infinite;
          -o-animation: linear marqueelike 8s infinite;
          -ms-animation: linear marqueelike 8s infinite;
          animation: linear marqueelike 8s infinite;
        }
      }
    }

    &-text {
      position: absolute;
      left: 50%;
      top: 60%;
      transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      margin: 0;

      figure {
        width: 200px;
        height: 60px;
        cursor: pointer;
        perspective: 500px;
        -webkit-perspective: 500px;
      }

      figure div {
        height: 100%;
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        transition: 0.25s;
        -webkit-transition: 0.25s;
      }

      figure:hover div {
        transform: rotateX(-90deg);
      }

      span {
        width: 100%;
        height: 100%;
        position: absolute;
        box-sizing: border-box;
        border: 5px solid #895dda;
        font-family: "ubunturegular";
        line-height: 50px;
        background-color: $background_color;
        font-size: 17pt;
        text-align: center;
        text-transform: uppercase;
      }

      span:nth-child(1) {
        color: #895dda;
        transform: translate3d(0, 0, 30px);
        -webkit-transform: translate3d(0, 0, 30px);
      }

      span:nth-child(2) {
        color: $background_color;
        background: #895dda;
        transform: rotateX(90deg) translate3d(0, 0, 30px);
        -webkit-transform: rotateX(90deg) translate3d(0, 0, 30px);
      }
    }
  }
}
// les liens dans le header

.a {
  width: 100px;
  height: 34px;
  line-height: 36px;
  text-decoration: none;
  color: #895dda;
  text-align: center;
  font-size: 15px;
  position: relative;
}

.is-active {
  background-color: #895dda;
  color: $background_color;
}
@-webkit-keyframes marqueelike {
  0%,
  100% {
    margin-left: 0;
  }

  99.99% {
    margin-left: -100%;
  }
}
@-moz-keyframes marqueelike {
  0%,
  100% {
    margin-left: 0;
  }

  99.99% {
    margin-left: -100%;
  }
}
@-o-keyframes marqueelike {
  0%,
  100% {
    margin-left: 0;
  }

  99.99% {
    margin-left: -100%;
  }
}
@-ms-keyframes marqueelike {
  0%,
  100% {
    margin-left: 0;
  }

  99.99% {
    margin-left: -100%;
  }
}
@keyframes marqueelike {
  0%,
  100% {
    margin-left: 0;
  }

  99.99% {
    margin-left: -100%;
  }
}
// page about.html

.about-container {
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: $background_color;

  &-up {
    width: 100%;
    overflow: hidden;
    @include desktop {
      width: 100%;
      z-index: 1;
    }

    &-title {

      border-right: 7px solid #895dda;
      position: relative;
      bottom: 0;
      height: 20px;
      top: -40px;
      width: 50%;
      z-index: 2000;
      @include desktop {
        z-index: 2000;
      }
    }
  }

  &-content {
    position: absolute;
    height: 110vh;
    box-shadow: 0 -7px 45px 0 rgba(0,0,0,0.09);
    background-color: $background_color;
    width: 100%;
    margin-top: 50vh;
    z-index: 1000;
    @include desktop {
      margin-top: 90vh;
      z-index: 3;
      height: 165vh;
    }

    &-presentation {
      margin: 0 auto;
      line-height: 120%;
      width: 90%;
      padding-top: 70px;
      @include desktop {
        width: 50%;
        padding-top: 100px;
      }

      &-first {
        font-size: 20px;
        line-height: 140%;
        font-family: 'ubuntulight';
        @include desktop {
          font-size: 24px;
          line-height: 140%;
        }

        &-underline {
          cursor: pointer;
          transition: all 0.1s ease-out;

          &:hover {
          }
        }

        &-italic {
          font-family: 'ubuntuitalic';
        }
      }

      &-second {
        padding-top: 30px;
        font-size: 20px;
        line-height: 130%;
        font-family: 'ubuntulight';
        @include desktop {
          font-size: 24px;
        }

        &-hetic {
          font-family: 'ubunturegular';
        }

        &-profile {
          width: 70%;
          margin-left: 15%;
          height: auto;
          padding-top: 20px;
          @include desktop {
            padding-top: 40px;
            margin-left: 15%;
          }
        }
      }
    }
  }
}


// works

.about-container-content2 {
  height: 900px;
  position: absolute;
  box-shadow: 0 -7px 45px 0 rgba(0,0,0,0.11);
  background-color:rgba(255, 254, 250, 1);
  width: 100%;
  margin: auto 0;
  z-index: 10;
  margin-top: 50vh;
  @include desktop {
    height:2200px;
    margin-top: 90vh;
  }

  &-presentation {
    margin: 0 auto;
    width: 90%;
    padding-top: 5vh;
    @include desktop {
      width: 50%;
      padding-top:100px;
    }

    &-title {
      font-family: 'ubunturegular';
      font-size: 30px;
      text-align: center;
      margin-top: 30px;
      @include desktop {
        font-size: 36px;
      }
    }

    &-works {
      line-height: 120%;
      font-family: 'ubuntulight';
      font-size: 20px;
      @include desktop {
        font-size: 24px;
      }
    }

    &-projects {
      width: 100%;
      margin-top: 50px;
      display: block;

      &-link {
        background-color: #895dda;
        height: auto;
        margin: 50px auto;
        @include desktop {
          width: 50%;
        }
      }

      &-img {
        width: 100%;
        height: auto;
        box-shadow: 0 10px 33px 0 rgba(0,0,0,0.53);
        transition: all 0.2s ease-out;

        &:hover {
          opacity: 0.8;
          transform: scale(0.9);
        }
      }
    }
  }
}


//contact

.about-container-content-presentation-contact {
  display: block;
  padding-top: 100px;
  width: 90%;
  margin: 0 auto;
  font-family: 'ubunturegular';
  @include desktop {
    width: 60%;
  }

  &-first {
    margin-top: 20px;
    font-size: 20px;
    font-family: 'ubuntulight';
    @include desktop {
      font-size: 28px;
    }

    &-info {
      font-family: 'ubunturegular';
      font-size: 20px;
      @include desktop {
        font-size: 28px;
      }
    }
  }
}

.about-container-content-contact {
  position: absolute;
  height: 360px;
  box-shadow: 0 -7px 45px 0 rgba(0,0,0,0.11);
  background-color: $background_color;
  width: 100%;
  margin-top: 95vh;
  z-index: 1000;
  @include desktop {
    margin-top: 90vh;
  }
}
