@font-face {
  font-family: 'ubunturegular';
  src: url("../font/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: 'ubuntubold';
  src: url("../font/Ubuntu-Bold.ttf");
}
@font-face {
  font-family: 'ubuntulight';
  src: url("../font/Ubuntu-Light.ttf");
}
@font-face {
  font-family: 'ubuntuMedium';
  src: url("../font/Ubuntu-Medium.ttf");
}
$tablet-width: 768px;
$color: rgb(random(150) ,random(150) ,random(150));
$background_color: #fffef9;
$desktop-width: 1024px;
$text_content_title: #fb8d72;
@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

body {
  background-color: $background_color;
}

.body-container {
  background-color: $background_color;
}

.header-container {
  height: 90px;
  width: 100%;
  background-color: $background_color;
  position: fixed;
  z-index: 100;
  justify-content: space-between;
  display: flex;
  @include tablet {}
  @include desktop {}

  &-burger {}

  &-menu {
    display: none;
    @include desktop {
      display: block;
      width: 100%;
      color: #895dda;
      font-family: 'ubuntuMedium';
      margin-left: 38%;
    }

    &-text {
      display: flex;
      width: 100%;
      margin-top: 27px;
      font-size: 14px;
      letter-spacing: -1.5px;
      color: black;
      width: 70%;
      @include desktop {}

      &-link {
        overflow: hidden;
      }

      .opacity {
        transition: background-color 0.3s linear, color 0.3s linear;
        background: rgba(255,255,255,0);

        &:hover {
          color: #124a58;
          background: rgba(255,255,255,0.9);
        }
      }

      &-link {
        transition: color 0.3s ease-out;

        &::after {
          width: 100%;
          height: 100%;
          display: block;
          background-color: #895dda;
          content: " ";
          position: absolute;
          top: 0;
          transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
          transform: translateY(34px);
          z-index: -1;
        }

        &:hover {
          color: $background_color;

          &::after {
            transform: translateY(0px);
          }
        }
      }
    }
  }

  &-logo {
    width: 100%;
    margin-top: 50px;
    font-size: 18px;
    text-align: center;
    font-family: 'ubuntuMedium';
    @include tablet {
      font-size: 20px;
    }
    @include desktop {
      font-size: 24px;
    }

    &-vrai {
      width: 45px;
      height: 45px;
    }
  }

  &-burger {
    width: 45px;
    height: 45px;
    margin: 22.5px auto;
    background-color: red;
    @include tablet {
      background-color: black;
    }
    @include desktop {
      background-color: pink;
      display: none;
    }

    &-modal {
      display: none;
      position: fixed;
      top: 0;
      z-index: 10000;
      left: 0;
      width: 100%;
      height: 100%;

      &-overlay {
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
      }

      &-content {
        width: 70%;
        height: 50vh;
        margin: 100px auto;
        font-family: 'ubuntuMedium';
        text-align: center;
        background: $background_color;
        &-link {
          margin-top: 30px;
          margin-bottom: 10px;
        }
      }
    }

    &-button {
      width: 45px;
      height: 45px;
    }
  }
}

.body-container {
  width: 100%;
  display: flex;
  height: 100vh;
  // partie gauche avec le texte//
  &-left {
    width: 100%;
    overflow: hidden;
    margin-top: 90px;
    @include desktop {
      width: 100%;
    }

    &-defile {
      margin-top: 125px;
      display: block;
      font-family: "ubuntubold";
      font-size: calc(100vw / 5);
      opacity: 0.05;
      table-layout: fixed;
      text-align: center;
      letter-spacing: -2px;
      width: 100vw;
      @include desktop {
        z-index: 1;
      }

      &-child {
        display: flex;
        -webkit-animation: linear marqueelike 3s infinite;
        -moz-animation: linear marqueelike 3s infinite;
        -o-animation: linear marqueelike 3s infinite;
        -ms-animation: linear marqueelike 3s infinite;
        animation: linear marqueelike 3s infinite;
        margin-left: -100%;
        padding: 0 5px;
        text-align: left;
        @include desktop {
          -webkit-animation: linear marqueelike 8s infinite;
          -moz-animation: linear marqueelike 8s infinite;
          -o-animation: linear marqueelike 8s infinite;
          -ms-animation: linear marqueelike 8s infinite;
          animation: linear marqueelike 8s infinite;
        }

        &:after {
          content: attr(data-text);
          position: absolute;
          white-space: nowrap;
          padding-left: 10px;
        }
      }
    }

    &-text {
      position: absolute;
      left: 50%;
      top: 60%;
      transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      margin: 0;

      figure {
        width: 200px;
        height: 60px;
        cursor: pointer;
        perspective: 500px;
        -webkit-perspective: 500px;
      }

      figure div {
        height: 100%;
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        transition: 0.25s;
        -webkit-transition: 0.25s;
      }

      figure:hover div {
        transform: rotateX(-90deg);
      }

      span {
        width: 100%;
        height: 100%;
        position: absolute;
        box-sizing: border-box;
        border: 5px solid #895dda;
        font-family: "ubunturegular";
        line-height: 50px;
        background-color: $background_color;
        font-size: 17pt;
        text-align: center;
        text-transform: uppercase;
      }

      span:nth-child(1) {
        color: #895dda;
        transform: translate3d(0, 0, 30px);
        -webkit-transform: translate3d(0, 0, 30px);
      }

      span:nth-child(2) {
        color: $background_color;
        background: #895dda;
        transform: rotateX(90deg) translate3d(0, 0, 30px);
        -webkit-transform: rotateX(90deg) translate3d(0, 0, 30px);
      }
    }
  }
}
// les liens dans le header

.a {
  width: 100px;
  height: 34px;
  line-height: 36px;
  text-decoration: none;
  color: #895dda;
  text-align: center;
  font-size: 15px;
  position: relative;
}

.is-active {
  background-color: #895dda;
  color: $background_color;
}
@-webkit-keyframes marqueelike {
  0%,
  100% {
    margin-left: 0;
  }

  99.99% {
    margin-left: -100%;
  }
}
@-moz-keyframes marqueelike {
  0%,
  100% {
    margin-left: 0;
  }

  99.99% {
    margin-left: -100%;
  }
}
@-o-keyframes marqueelike {
  0%,
  100% {
    margin-left: 0;
  }

  99.99% {
    margin-left: -100%;
  }
}
@-ms-keyframes marqueelike {
  0%,
  100% {
    margin-left: 0;
  }

  99.99% {
    margin-left: -100%;
  }
}
@keyframes marqueelike {
  0%,
  100% {
    margin-left: 0;
  }

  99.99% {
    margin-left: -100%;
  }
}
// page about.html

.about-container {
  width: 100%;
  height: 100vh;
  background-color: $background_color;

  &-up {
    width: 100%;
    overflow: hidden;
    @include desktop {
      width: 100%;
    }

    &-title {
      text-align: center;
      font-family: 'ubuntubold';
      color: #895dda;
      width: 100%;
      bottom: 0;
      top: 270px;
      font-size: 48px;
      position: absolute;
      text-shadow: 0 5px 2px rgba(150, 150, 150, 0.27);
      @include desktop {
        font-size: 60px;
        top: 450px;
      }
    }
  }

  &-content {
    height: 700px;
    box-shadow: 0 -7px 45px 0 rgba(0,0,0,0.11);
    background-color: $background_color;
    width: 90%;
    margin: 100px auto 0;
    z-index: 1000;

    &-presentation {
      margin: 0 auto;
      width: 60%;
      padding-top: 70px;
      @include desktop {
        width: 50%;
        padding-top: 200px;
      }

      &-first {
        font-size: 14px;
        line-height: 120%;
        font-family: 'ubunturegular';
        @include desktop {
          font-size: 18px;
        }
      }

      &-second {
        padding-top: 30px;
        font-size: 14px;
        line-height: 120%;
        font-family: 'ubunturegular';
        @include desktop {
          font-size: 18px;
        }

        &-hetic {
          font-family: 'ubuntubold';
        }

        &-profile {
          width: 70%;
          margin-left: 15%;
          height: auto;
          padding-top: 20px;
          @include desktop {
            padding-top: 40px;
            margin-left: 15%;
          }
        }
      }
    }
  }
}

.footer-container {
  width: 30%;
  margin: 70px auto;
  height: 30px;
  display: flex;
  justify-content: space-around;
  @include desktop {
    height: 50px;
  }

  &-link {
    &-img {
      height: 30px;
      width: auto;
      @include desktop {
        height: 40px;
        width: auto;
      }

      &:hover {
        transition: all 0.2s ease-out;
        opacity: 0.9;
      }
    }
  }
}
// works

.about-container-content2 {
  height: 1300px;
  box-shadow: 0 -7px 45px 0 rgba(0,0,0,0.11);
  background-color: $background_color;
  width: 90%;
  margin: 100px auto 0;
  z-index: 1000;
  @include desktop {
    height: 2500px;
  }

  &-presentation {
    margin: 0 auto;
    width: 60%;
    padding-top: 70px;
    @include desktop {
      width: 50%;
      padding-top: 200px;
    }

    &-works {
      font-family: 'ubunturegular';
      font-size: 14px;
      @include desktop {
        font-size: 18px;
      }
    }

    &-projects {
      width: 60%;
      margin: 50px auto;
      flex-wrap: wrap;

      &-link {
        background-color: #895dda;
        width: 100%;
        margin-top: 20px;
        height: auto;
        @include desktop {
          margin-top: 60px;
        }
      }

      &-img {
        width: 100%;
        height: auto;
        box-shadow: 0px 10px 33px 0px rgba(0,0,0,0.53);


        &:hover {
          opacity: 0.8;
          transform: scale(0.9);
          transition: all 0.2s ease-out;
        }
      }
    }
  }
}
